<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JPYexchange</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="row">
        <div class="column" id="line-chart"></div>
        <div class="column" id="line-chart-2"></div>
    </div>
    <div id="exchangeData" style="visibility:hidden;"> {{exchangeData}} </div>

    <!-- Plotly 官網連結 https://plotly.com/javascript/getting-started/ -->
    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"  charset="utf-8"></script>
    <!-- <script src="../static/js/main.js"></script>  -->
</body>
</html>